*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #33A8DB;
}

body{
    background-color: #000000;
    color: white;
    font-family: "Raleway", sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.container{
    text-align: center;
}

.header{
    padding: 4.5rem;
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.301), #33a9db4d 50%, rgba(0, 0, 0, 0.301)), url(/lp-DIO/assets/imgs/banner.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-bottom: 1px solid var(--primary-color);
}

.logo{
    
    width: 248px;
    height: 248px;
    margin: auto;
    background-color: #1111115e;
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: auto;
}

.title{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 900;
    background: linear-gradient(to bottom, #33A8DB, #1478b7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
}

.header-content{
    width: 580px;
    margin: auto;
}

.header-content p{
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.btn{
    background-color: transparent;
    color: var(--primary-color);
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 6px;
    padding: 18px 32px;
    border: 2px solid var(--primary-color);
}

.main{
    padding: 6rem 0;
    width: 800px;
    margin: auto;
    
}

.titles{
    text-transform: uppercase;
    letter-spacing: 6px;
    color: var(--primary-color);
    margin-bottom: 20px;
    font-size: 2rem;
}

.main p{
    margin-bottom: 20px;
}

.main li{
    padding: 16px;
    background-color: rgb(46, 46, 46);
    display: block;
    width: 65%;
    margin: 20px auto;
    border-radius: 40px;
    border: 1px solid var(--primary-color);
    box-shadow: inset -8px 10px 10px rgb(20, 20, 20);
}

.main span{
    color: var(--primary-color);
}

.banner{
    height: 500px;
    background-image: url(/lp-DIO/assets/imgs/woman-code.png);
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    display: flex;
    align-items: center;

}

.banner h2{
    width: 220px;
    text-align: left;
    margin-left: 200px;
    font-size: 2.2rem;
    font-weight: 900;
    text-shadow: 3px 3px 0 var(--primary-color);
}

.hero-banner{
    width: 800px;
    padding: 6rem 0;
    margin: auto;
}

.hero-banner img{
    margin: 40px 0;
}

.footer{
    padding: 4rem 0;
    border-top: 1px solid var(--primary-color);
    background: linear-gradient(to top, #33a9db2c 30%, #000000);
}

.footer a{
    color: var(--primary-color);
    font-weight: 600;
}



