*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #FF0033;
}

body{
    background-color: #F9F9F9;
    font-family: "Roboto", sans-serif;
}

.container{
    width: 1200px;
    margin: auto;
    display: grid;
    grid-template-areas: 
        "main main sidebar"
    ;
    gap: 20px;
}

.header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 10px 40px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.btn-menu{
    cursor: pointer;
}

.logo-link img{
    width: 100%;
    display: block;
}

.menu-navigation{
    display: flex;
    gap: 40px;
}

.btn-menu{
    display: flex;
    background: none;
    border: none;
    align-items: center;
    position: relative;
}

#burger{
    display: block;
    width: 22px;
    height: 3px;
    background-color: black;
    position: relative;
    border-radius: 3px;
}

#burger::before{
    content: "";
    background-color: black;
    width: 22px;
    height: 3px;
    position: absolute;
    bottom: 8px;
    display: block;
    border-radius: 3px;
    
}

#burger::after{
    content: "";
    background-color: black;
    width: 22px;
    height: 3px;
    position: absolute;
    top: 8px;
    display: block;
    border-radius: 3px;
}

.search-bar{
    display: flex;
}

.search-bar input{
    border: 1px solid #c4c4c4;
    padding: 8px;
    width: 300px;
}

.search-bar input:focus{
    outline: 1px solid blue;
}

.search-bar button{
    padding: 0 10px;
    border-left: transparent;
    border-top: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    cursor: pointer;
    
}

.profile{
    display: flex; 
    align-items: center;
    gap: 20px;
}

.main{
    grid-area: main;
    width: 830px;
}

.main-title{
    margin: 2rem 0;
    font-size: 2rem;
}

.video-content__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.video-content__profile{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 10px;
}

.video-content__profile a{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    color: #000;
}

.video-content__profile p{
    font-size: 1.4rem;
}

.interactions{
    display: flex;
    align-items: center;
    gap: 24px;
}

.interactions-content{
    display: flex;
    align-items: center;
    gap: 8px;
}

.interactions-content p{
    font-size: 1.4rem;
    font-weight: bold;
}

.btn{
    background-color: var(--primary-color);
    font-family: inherit;
    padding: 12px 30px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    border: none;
    border-radius: 4px;

}

.sidebar{
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.side-profile{
    background-color: #fff;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.007);
}

.capa-profile{
    width: 100%;
}

.img-profile{
    position: absolute;
    left: 20px;
    top: 40px;
}

.side-profile__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    margin-top: 22px;
}

.side-profile__title a{
    font-size: 1.4rem;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.side-profile__title p{
    font-size: 1.2rem;
}

.subtitle{
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.subtitle2{
    margin-bottom: 8px;
    font-size: 1.4rem;
}

.description{
    font-size: 1.4rem;
    width: 60%;
}

.thumb{
    display: flex;
    gap: 14px;
}

.thumb img{
    width: 160px;
    height: 90px;
}

.thumb-channel{
    margin-bottom: 8px;
}

.thumb-details p{
    font-size: 1.2rem;
}